# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Environment variables
.env
cythreatlens_session.session
*.session-journal

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Database / Local files
# =========================
*.sqlite3
*.db

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Migrations (if using Alembic later)
# =========================
migrations/versions/*.pyc